@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: 103px;
  top: 71px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
  font-size: 1.1rem;
  color: var(--main-black-color);
}

:root {
  --main-yellow-color: #ebe66d;
  --main-black-color: #0a191c;
  --main-grey-color: #34373a;
  --main-blue-color: #8bb4b3;
}


/**
 * SLIDER BUTTON
 */
.carousel__back-button,
.carousel__next-button {
  cursor: pointer;
  border: none;
  overflow: hidden;
  outline: 0;
  font-size: 0;
  line-height: 0;
  padding: 18px;
  border-radius: .5rem;
  background: var(--main-blue-color);
  color: #fff;
  position: absolute;
  bottom: 0;
}

.carousel__back-button:hover,
.carousel__next-button:hover {
  background: var(--main-grey-color);
}

.carousel__back-button span,
.carousel__next-button span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-color: #fff;
  border-style: solid;
  border-width: 3px 3px 0 0;
  padding: 5px;
  transition: .3s;
  font-size: 0;
}

.carousel__back-button span {
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
  transform: translate(-50%, -50%) rotate(-135deg);
  margin-left: 2.45px;
}

.carousel__next-button span {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2.45px;
}

.carousel__back-button {
  left: 0;
}

.carousel__next-button {
  right: 0;
}

/**
 * SLIDER DOTS
 */
.carousel__dot-group {
  height: 40px;
}

.carousel__dot {
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-blue-color);
  background: #fff;
  border-radius: 50%;
  margin: 12px 5px 0;
}

.carousel__dot:hover,
.carousel__dot--selected {
  background: var(--main-grey-color);
}